{
    "net": {
        "interface": {
            "ports": {
                "https": 8080
            },
            "https": {
                "cert": "./some/path/fullchain.pem",
                "key": "./some/path/privkey.pem"
            }
        }
    },
    "db": {
        "uri": "secret"
    },
    "user": {
        "root": {
            "password": "secret"
        },
        "secret": {
            "key": "secret"
        }
    },
    "api": {
        "np_epoch": 1550620800000
    }
}